@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*
ESTILOS GENERALES PARA TODO EL DOCUMENTO-------------------------------------------------------------------------
*/

.detalleDeProducto * {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Abel', sans-serif;
}

.detalleDeProducto img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.detalleDeProducto figure {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.detalleDeProducto h1{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.detalleDeProducto a{
    text-decoration: none;
}

.detalleDeProducto .cajaGris{
    border: 1px solid #C9C9C9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto input[type=number]::-webkit-inner-spin-button,
.detalleDeProducto input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detalleDeProducto > * {
    border-bottom: 1px solid #C9C9C9;
}

.detalleDeProducto > div > * {
    width: 1130px;
    margin: 0px auto;
}



/*
ESTILOS .detalleDeProducto----------------------------------------------------------------------------------------------------
*/

.detalleDeProducto .sin-borde{
    border: none;
}

.detalleDeProducto .pathDeCategorias{
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.detalleDeProducto .pathDeCategorias *{
    display: inline;
    color: #C9C9C9;
}

.detalleDeProducto .pathDeCategorias li:last-child a{
    color: #161616;
}

.detalleDeProducto .mostrador{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 415px;
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
    grid-template-areas: "a b c";
    padding-bottom: 10px;
}



.detalleDeProducto .mostrador .selector-imagenes{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: right;
}



.detalleDeProducto .mostrador .selector-imagenes figure{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.detalleDeProducto .mostrador .selector-imagenes figure:hover{
    opacity: 0.5;
}

.detalleDeProducto .mostrador .imagen-principal{
    grid-area: b;
    margin-left: 20px;
    margin-right: 35px;
    justify-self: center;
}

.detalleDeProducto .mostrador .imagen-principal figure{
    width: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C9C9C9;
}



.detalleDeProducto .mostrador .caja{
    grid-area: c;
    display: flex;
    flex-direction: column;
}

.detalleDeProducto .mostrador .caja > *{
    width: 420px;
    margin-bottom: 10px;
}

.detalleDeProducto .mostrador .precio{
    font-weight: bolder;
    font-size: 30px;
}

.detalleDeProducto .mostrador .reseñasLite{
    margin-bottom: 25px;
}

.detalleDeProducto .mostrador .reseñasLite p{
    font-size: 13px;
    color: #777777;
}

.detalleDeProducto .mostrador .reseñasLite i{
    font-size: 15px;
    color: #DD2036;
}

.detalleDeProducto .mostrador .caja form > p{
    font-size: 15px;
    color: #161616;
}

.detalleDeProducto .mostrador .caja form > p a{
    font-size: 15px;
    color: #DD2036;
}

.detalleDeProducto .mostrador .caja form .selectorTalles{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.detalleDeProducto .mostrador .caja form .selectorTalles span input{
    position: absolute;
    opacity: 0;
    height: 0px;
    width: 0px;
}

.detalleDeProducto .mostrador .caja form .selectorTalles span label{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.detalleDeProducto .mostrador .caja form .selectorTalles span input:checked + label {
    background-color: #161616;
    color: #FAFAFA;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar *{
    height: 100%;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar > button{
    margin-left: 15px;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar .cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar .cantidad input{
    width: 40px;
    text-align: center;
    border-left: none;
    border-right: none;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar .cantidad button{
    width: 30px;
    background-color: white;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar .cantidad button *{
    color: #252525;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.detalleDeProducto .mostrador .caja form .cantidad-comprar > button{
    width: 115px;
    background-color: #CD1626;
    border: none;
    color: #FAFAFA;
    letter-spacing: 3px;
    font-weight: bold;

}

.detalleDeProducto .resumen {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.detalleDeProducto .resumen .compartir-redes{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.detalleDeProducto .resumen .compartir-redes a{
    display: flex;
    justify-content: center;
    color: #C9C9C9;
    font-size: 18px;
    padding-left: 10px;
}

.detalleDeProducto .resumen .compartir-redes a:hover{
    color: #DD2036;
}

.detalleDeProducto .resumen .compartir-redes p{
    letter-spacing: 1px;
    color: #777777;
}

/* SECCION TECNOLOGIAS-----------------------------------------------------------------------------------------------------------------*/


.detalleDeProducto .tecnologias{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .tecnologias h2{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalleDeProducto .tecnologias input{
    grid-column: 2;
    grid-row: 1;
    display: none;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes en h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .tecnologias label{
    grid-column: 2;
    grid-row: 1;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.detalleDeProducto .tecnologias input:checked ~ .check-mas{
    display: none;
}

.detalleDeProducto .tecnologias input:not(:checked) ~ .check-mas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .tecnologias input:checked ~ .check-menos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .tecnologias input:not(:checked) ~ .check-menos{
    display: none;
}

.detalleDeProducto .tecnologias div{
    grid-column: 1/3;
    grid-row: 2;
    display: none;
    padding-top: 10px;
    padding-bottom: 30px;
}

.detalleDeProducto .tecnologias input:not(:checked) ~ div{
    display: none;
}

.detalleDeProducto .tecnologias input:checked ~ div{
    display: block;
}

/* SECCION DESCRIPCION GENERAL -----------------------------------------------------------------------------------------------------------------*/

.detalleDeProducto .descripcion-detallada{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .descripcion-detallada h2{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalleDeProducto .descripcion-detallada input{
    grid-column: 2;
    grid-row: 1;
    display: none;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes en h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .descripcion-detallada label{
    grid-column: 2;
    grid-row: 1;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.detalleDeProducto .descripcion-detallada input:checked ~ .check-mas{
    display: none;
}

.detalleDeProducto .descripcion-detallada input:not(:checked) ~ .check-mas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .descripcion-detallada input:checked ~ .check-menos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .descripcion-detallada input:not(:checked) ~ .check-menos{
    display: none;
}

.detalleDeProducto .descripcion-detallada div{
    grid-column: 1/3;
    grid-row: 2;
    display: none;
    padding-top: 10px;
    padding-bottom: 30px;
}

.detalleDeProducto .descripcion-detallada input:not(:checked) ~ div{
    display: none;
}

.detalleDeProducto .descripcion-detallada input:checked ~ div{
    display: block;
}

.detalleDeProducto .descripcion-detallada div ul{
    margin-top: 10px;
    margin-left: 25px;
}



/* SECCION RESEÑAS ---------------------------------------------------------------------------------------------------------------*/

.detalleDeProducto .reseñas{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .reseñas h2{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalleDeProducto .reseñas > input{
    grid-column: 2;
    grid-row: 1;
    display: none;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes en h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .reseñas > label{
    grid-column: 2;
    grid-row: 1;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.detalleDeProducto .reseñas input:checked ~ .check-mas{
    display: none;
}

.detalleDeProducto .reseñas input:not(:checked) ~ .check-mas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .reseñas input:checked ~ .check-menos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .reseñas input:not(:checked) ~ .check-menos{
    display: none;
}

.detalleDeProducto .reseñas form{
    grid-column: 1/3;
    grid-row: 2;
    display: none;
    padding-top: 10px;
    padding-bottom: 30px;
}

.detalleDeProducto .reseñas input:not(:checked) ~ form{
    display: none;
}

.detalleDeProducto .reseñas input:checked ~ form{
    display: flex;
    flex-direction: column;
}

.detalleDeProducto .reseñas form > div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:white;
    margin-right: auto;
}


.detalleDeProducto .reseñas form p{
    margin-bottom: 10px;
}

.detalleDeProducto .reseñas form div div{
    margin-bottom: 10px;
}

.detalleDeProducto .reseñas form div input{
    display: none;
}

.detalleDeProducto .reseñas form label{
    color: #777777;
}


.detalleDeProducto .reseñas form > input, .detalleDeProducto .reseñas form > textarea{
    width: 530px;
    border: none;
    border-bottom: 1px solid #CD1626;
    font-size: 18px;
    margin-bottom: 30px;
}

.detalleDeProducto .reseñas form > textarea{
    height: 70px;
    text-align: justify;
    resize: none;
}

.detalleDeProducto .reseñas form > button{
    height: 40px;
    width: 150px;
    text-align: center;
    color: #FAFAFA;
    background-color: #CD1626;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
}



/* pinches estrellas ****************************************/

.detalleDeProducto .reseñas .selectorValoracion input[value="1"]:checked ~ label[for="valoracion1"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorValoracion input[value="2"]:checked ~ label[for="valoracion1"],
.detalleDeProducto .reseñas .selectorValoracion input[value="2"]:checked ~ label[for="valoracion2"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorValoracion input[value="3"]:checked ~ label[for="valoracion1"],
.detalleDeProducto .reseñas .selectorValoracion input[value="3"]:checked ~ label[for="valoracion2"],
.detalleDeProducto .reseñas .selectorValoracion input[value="3"]:checked ~ label[for="valoracion3"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorValoracion input[value="4"]:checked ~ label[for="valoracion1"],
.detalleDeProducto .reseñas .selectorValoracion input[value="4"]:checked ~ label[for="valoracion2"],
.detalleDeProducto .reseñas .selectorValoracion input[value="4"]:checked ~ label[for="valoracion3"],
.detalleDeProducto .reseñas .selectorValoracion input[value="4"]:checked ~ label[for="valoracion4"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorValoracion input[value="5"]:checked ~ label[for="valoracion1"],
.detalleDeProducto .reseñas .selectorValoracion input[value="5"]:checked ~ label[for="valoracion2"],
.detalleDeProducto .reseñas .selectorValoracion input[value="5"]:checked ~ label[for="valoracion3"],
.detalleDeProducto .reseñas .selectorValoracion input[value="5"]:checked ~ label[for="valoracion4"],
.detalleDeProducto .reseñas .selectorValoracion input[value="5"]:checked ~ label[for="valoracion5"]{
    color: #DD2036;
}

/* pinches estrellas ****************************************/

.detalleDeProducto .reseñas .selectorDiseño input[value="1"]:checked ~ label[for="diseño1"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorDiseño input[value="2"]:checked ~ label[for="diseño1"],
.detalleDeProducto .reseñas .selectorDiseño input[value="2"]:checked ~ label[for="diseño2"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorDiseño input[value="3"]:checked ~ label[for="diseño1"],
.detalleDeProducto .reseñas .selectorDiseño input[value="3"]:checked ~ label[for="diseño2"],
.detalleDeProducto .reseñas .selectorDiseño input[value="3"]:checked ~ label[for="diseño3"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorDiseño input[value="4"]:checked ~ label[for="diseño1"],
.detalleDeProducto .reseñas .selectorDiseño input[value="4"]:checked ~ label[for="diseño2"],
.detalleDeProducto .reseñas .selectorDiseño input[value="4"]:checked ~ label[for="diseño3"],
.detalleDeProducto .reseñas .selectorDiseño input[value="4"]:checked ~ label[for="diseño4"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorDiseño input[value="5"]:checked ~ label[for="diseño1"],
.detalleDeProducto .reseñas .selectorDiseño input[value="5"]:checked ~ label[for="diseño2"],
.detalleDeProducto .reseñas .selectorDiseño input[value="5"]:checked ~ label[for="diseño3"],
.detalleDeProducto .reseñas .selectorDiseño input[value="5"]:checked ~ label[for="diseño4"],
.detalleDeProducto .reseñas .selectorDiseño input[value="5"]:checked ~ label[for="diseño5"]{
    color: #DD2036;
}

/* pinches estrellas ****************************************/

.detalleDeProducto .reseñas .selectorCalce input[value="1"]:checked ~ label[for="calce1"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorCalce input[value="2"]:checked ~ label[for="calce1"],
.detalleDeProducto .reseñas .selectorCalce input[value="2"]:checked ~ label[for="calce2"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorCalce input[value="3"]:checked ~ label[for="calce1"],
.detalleDeProducto .reseñas .selectorCalce input[value="3"]:checked ~ label[for="calce2"],
.detalleDeProducto .reseñas .selectorCalce input[value="3"]:checked ~ label[for="calce3"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorCalce input[value="4"]:checked ~ label[for="calce1"],
.detalleDeProducto .reseñas .selectorCalce input[value="4"]:checked ~ label[for="calce2"],
.detalleDeProducto .reseñas .selectorCalce input[value="4"]:checked ~ label[for="calce3"],
.detalleDeProducto .reseñas .selectorCalce input[value="4"]:checked ~ label[for="calce4"]{
    color: #DD2036;
}

.detalleDeProducto .reseñas .selectorCalce input[value="5"]:checked ~ label[for="calce1"],
.detalleDeProducto .reseñas .selectorCalce input[value="5"]:checked ~ label[for="calce2"],
.detalleDeProducto .reseñas .selectorCalce input[value="5"]:checked ~ label[for="calce3"],
.detalleDeProducto .reseñas .selectorCalce input[value="5"]:checked ~ label[for="calce4"],
.detalleDeProducto .reseñas .selectorCalce input[value="5"]:checked ~ label[for="calce5"]{
    color: #DD2036;
}

/* pinches estrellas END ****************************************/



/* SECCION TALLES -----------------------------------------------------------------------------------------------------------------*/

.detalleDeProducto .talles{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .talles h2{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalleDeProducto .talles input{
    grid-column: 2;
    grid-row: 1;
    display: none;
}


/*Esta parte esta medio gede, no deberia tener que poner los margenes en h2 y en label
pero si no lo hago me quedan desalineados... */
.detalleDeProducto .talles label{
    grid-column: 2;
    grid-row: 1;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.detalleDeProducto .talles input:checked ~ .check-mas{
    display: none;
}

.detalleDeProducto .talles input:not(:checked) ~ .check-mas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .talles input:checked ~ .check-menos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleDeProducto .talles input:not(:checked) ~ .check-menos{
    display: none;
}

.detalleDeProducto .talles div{
    grid-column: 1/3;
    grid-row: 2;
    display: none;
    padding-top: 10px;
    padding-bottom: 30px;
}

.detalleDeProducto .talles input:not(:checked) ~ div{
    display: none;
}

.detalleDeProducto .talles input:checked ~ div{
    display: block;
}

.detalleDeProducto .talles div table {
    width: 100%;
    border:none;
    border-collapse: collapse;
    text-align: center;
}

.detalleDeProducto .talles div table tbody tr:nth-child(odd){
    background-color: #C9C9C9;
}


.detalleDeProducto .otros-productos{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    margin-top:18px;
}


.detalleDeProducto .otros-productos .titulo{
    color: #6d6d6d;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.detalleDeProducto .otros-productos .titulo h2{
    background-color:white;
    z-index: 2;
    padding-left:15px;
    padding-right:15px;
}

.detalleDeProducto .otros-productos .titulo .linea{
    position: absolute;
    top: 50%;
    display: block;
    height:1px;
    width:100%;
    background-color: #C5C5C5;
    z-index: 1;
}

.detalleDeProducto .otros-productos .botonera{
    width: 35px;
    margin-left: 5px;
    color: #6d6d6d;
    grid-column: 2;
    grid-row: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.detalleDeProducto .otros-productos .botonera i:hover{
    cursor:pointer;
    color: #DD2036;
}

.detalleDeProducto .otros-productos .carrusel{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto{
    width: 200px;
    height: 325px;
    margin-bottom: 25px;
    margin-top: 25px;
    position:relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    transition: border 0.5s ease-in 0s;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto:hover{
    border: 1px solid #6d6d6d;
}



.detalleDeProducto .otros-productos .carrusel .tile-producto figure{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto .botoncitos{
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    color: #6d6d6d;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto .botoncitos i{
    opacity: 0;
    transition: opacity 0.3s ease-in 0s;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto .botoncitos i:hover{
    cursor:pointer;
    color: #DD2036;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto p{
    margin-left: 5px;
    margin-right: 5px;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto figure{
    width: 100%;
    height: 200px;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto  button{
    width: 135px;
    height: 35px;
    margin-top: 20px;
    background-color: #CD1626;
    border: none;
    color: #FAFAFA;
    letter-spacing: 3px;
    font-weight: bold;
    cursor:pointer;
    align-self: center;
    opacity: 0;
    transition: opacity 0.3s ease-in 0s;
}

.detalleDeProducto .otros-productos .carrusel .tile-producto:hover button,
.detalleDeProducto .otros-productos .carrusel .tile-producto:hover i{
    opacity: 1;
}



/*MEDIAS QUERY---------------------------------------------------------------------------------------------------------------*/

/*TAMAÑO DE LAS SECCIONES-----------------------------------------------------------------------------------------------------*/

@media (max-width: 1140px){
    .detalleDeProducto > div > * {
        width: 920px;
    }

    .detalleDeProducto .mostrador .caja > *{
        width: 330px;
    }
}

@media (max-width: 1135px){
    .detalleDeProducto .mostrador .imagen-principal figure{
        width: 410px
    }
}

@media (max-width: 950px){
    .detalleDeProducto > div > * {
        width: 750px;
    }

    .detalleDeProducto .mostrador{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 415px 1fr;
        grid-template-areas:"a b" 
                            "c c";
    }

    .detalleDeProducto .mostrador .imagen-principal{
        margin-bottom: 10px
    }

    .detalleDeProducto .mostrador .imagen-principal figure{
        width: 560px
    }

    .detalleDeProducto .mostrador .caja > *{
        width: auto;
        margin-bottom: 10px;
    }

    .detalleDeProducto .carrusel .tile-producto:last-child{
        display:none;
    }

}

@media (max-width: 768px){
    .detalleDeProducto > div > * {
        width: 570px;
    }

    .detalleDeProducto .mostrador{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 125px auto;
        grid-template-areas:"b"
                            "a" 
                            "c";
    }

    .detalleDeProducto .mostrador .selector-imagenes{
        flex-direction: row;
        justify-self: stretch ;
    }

    .detalleDeProducto .mostrador .imagen-principal figure{
        width: 410px
    }

    .detalleDeProducto .otros-productos{
        display:none;
    }

}

@media (max-width: 580px){
    .detalleDeProducto > div > * {
        width: 420px;
    }

    .detalleDeProducto .mostrador .imagen-principal figure{
        width: auto
    }

    .detalleDeProducto .reseñas form > input, .detalleDeProducto .reseñas form > textarea{
        width: auto;
    }
}

@media (max-width: 425px){
    .detalleDeProducto > div > * {
        width: auto;
        padding-right: 10px;
        padding-left: 10px;
        background-color: orange;
    }

    .detalleDeProducto .mostrador .selector-imagenes figure{
        width: auto;
    }

    .detalleDeProducto .mostrador .selector-imagenes figure:last-child{
        display:none;
    }

    .detalleDeProducto .mostrador .imagen-principal figure{
        width: auto
    }

}