<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%>
<body>
     <%- include("../partials/header.ejs") %>
    <main class="FCarrito">
        <h1 class="titulo">TU CARRITO</h1>

        
        <div class="main-container">
            <div class="productos">
                    <div class="producto-1">
                        <img src="imagenes/camiseta.png" alt="camiseta de futbol">
                        <h2 style="font-weight: bold;"> Camiseta Del Sarasa FC </h2>
                        <ul>
                            <li>
                                STOCK: Disponible
                            </li>
                            <li>
                                SEXO: H
                            </li>
                            <li>
                                COLOR: <select name="color" id="color">
                                    <option value="1">Rojo</option>
                                    <option value="2">Verde</option>
                                    <option value="3">Amarillo</option>
                                </select>
                            </li>
                            <li>
                                CANTIDAD: <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </li>
                            <li>
                                PRECIO: $ 4999
                            </li>
                        </ul>
                        

                    </div>
                    <div class="producto-1">
                        <img src="imagenes/zapas-mujer.png" alt="camiseta de futbol">
                        <h2 style="font-weight: bold;"> Calzado Running </h2>
                        <ul>
                            <li>
                                STOCK: Disponible
                            </li>
                            <li>
                                SEXO: M
                            </li>
                            <li>
                                COLOR: <select name="color" id="color">
                                    <option value="1">Rojo</option>
                                    <option value="2">Verde</option>
                                    <option value="3">Amarillo</option>
                                </select>
                            </li>
                            <li>
                                CANTIDAD: <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </li>
                            <li>
                                PRECIO: $ 6700
                            </li>
                        </ul>
                        
                    </div>
            </div>


            <div class="resumen">
                <button id="continuar">CONTINUAR  <i class="fas fa-long-arrow-alt-right"></i></button>

                <h2>Resumen Del Pedido</h2>

                <ul>
                    <li>
                        CANTIDAD DE PRODUCTOS : 2
                    </li>
                    <hr>
                    <li>
                       TOTAL : $ 11.699
                    </li>
                    <hr>
                    <li>
                        COSTO DEL ENVIO: $ 500
                    </li>
                    <hr>
                </ul>
                <br>
                <h1>TOTAL: $ 12.199</h1>

                <p>Hasta 6 cuotas sin interés</p>

            </div>

        </div>
<div class="continuar-opciones">
    <div>
        <button id="continuar-2">CONTINUAR  <i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
        <div class="opciones">
        <h2 class="opciones-pago">OPCIONES DE PAGO</h2>
        <ul>
            <li>
                <img src="imagenes/tarjetas.png" alt="" class="tarjetitas">
            </li>
            <li>
                <img src="imagenes/mercado-pago.png" alt="" class="mercadoPago">
            </li>
        </ul>
    </div>
    
</div>
    </main>
    
<h1 class="titulo">OTROS TAMBIEN COMPRARON</h1>

<section class="otrosProductos">


    <article>
            <img src="imagenes/argentina.png" alt="">
            <div class="descripcion">
                <h5>Camisetas</h5>
                <p>Camiseta Seleccion Argentina</p>
                <p>$ 7.500</p>
            </div>
    </article>
                
    <article>
            <img src="imagenes/river.png" alt="">
            <div class="descripcion">
                <h5>Camisetas</h5>
                <p>Camiseta River Plate alternativa</p>
                <p>$ 6.000</p>
            </div>
    </article>
    
    <article>
            <img src="imagenes/boca.png" alt="">
            <div class="descripcion">
                <h5>Camisetas</h5>
                <p>Camiseta Boca Suplente</p>
                <p>$ 6.000</p>
            </div>
    </article>

</section>

</main>
<%- include("../partials/footer.ejs") %>
</body>
</html>