<! -- NEWSLETTER -->
  
        <div class="newsletter">
            <h1 id="h1nl">SUSCRIBITE A NUESTRO NEWSLETTER</h1>
            <p id="pNl">Recibí nuestras novedades y promociones</p>
            
            <form action="" class="formuNL"> 

                <input type="text" placeholder="Nombre" >
                <input type="email" placeholder="Email" >
                <button class="enviarNL">Enviar</button>
            </form>

        </div>
    
        <! -- FOOTER -->
        <footer>
            <img src="imagenes/logo.png" id="logo">
            <ul class="listaFooter1">
                <li>Lorem</li>
                <li>Ipsum </li>
                <li>Dolor</li>
            </ul>
            <ul class="listaFooter1">
                <li>Lorem</li>
                <li>Ipsum </li>
                <li>Dolor</li>
            </ul>
            

            <p style="text-align:center;">Copyright Phuma - 2020. Todos los derechos reservados.</p>
        </footer>
