<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/7ce21fa4dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./estilos/principal.css">
    <title>home</title>
</head>