@import "/estilos/carrito.css";
@import "/estilos/detalleDeProducto.css";
@import "/estilos/home.css";
@import "/estilos/register.css";
@import "/estilos/login.css";
@import "/estilos/productsAll.css";
@import "/estilos/partials/tileDeProducto.css";
@import "/estilos/partials/tileDeImagen.css";
@import"/estilos/addProduct.css";
@import"/estilos/editProduct.css";
@import "/estilos/formularioBorrado.css";


/*hesder*/
.primerosLinks{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
justify-content: flex-end;
    flex-direction: column;
    
}
.primerosLinks h1 {
    background-color: #c5c5c5;
    width: 100%;
    margin-top: 0%;
}

.userIngreso {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.primerosLinks li{
    margin-left: 10px;
    margin:  10px 5px;
    
}
.primerosLinks li a{
    text-decoration: none;
    color: #c4c4c4;
   
}
.primerosLinks li a:hover{
    color: black;
}

/* ACA EMPIEZA EL HEADER*/

.saludo {
    height: 10px;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
justify-content: flex-start
}

.navegacion{
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 65px;
    display: flex;
    flex-wrap: nowrap;
}
.navegacion ul{
    display: flex;
    list-style: none;
}
.navegacion ul li{

    margin-right:55px;

}
 
.navegacion ul li a{
    color: #8f8f8f;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;

}
.navegacion ul li a:hover{
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;

}

.logo{
    height: 55px;
    width: 85px;
    margin-left: 50px ;
}

/*BARRA DE BUSQUEDA*/

.buscar{
margin-right: 30px;
    padding: 5px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition:all 0.6 ease;
}
.boton{
    border-radius: 50px;
    background: silver;
    height: 40px;
    width: 38px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;

}
.boton:hover{
    border-radius: 50px;
    background: #eaeaea;
    height: 40px;
    width: 38px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;

}
.titulo{
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 55px;
}
.primerosLinks{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
justify-content: flex-end;
margin-right: 10px;
}
.primerosLinks li{
    margin-left: 10px;
    margin:  10px 5px;
}
.primerosLinks li a{
    text-decoration: none;
    color: #c4c4c4;
   
}
.primerosLinks li a:hover{
    color: black;
}
nav.buscarheader form a i{
    font-size: 35px;
    margin-left: 10px;
}
/* ACA EMPIEZA EL HEADER*/

.navegacion{
    align-items: center;
    align-content: center;
    justify-content: space-between;
    box-sizing: content-box;
    align-self: flex-start;
    width: 100%;
    
    display: flex;
    flex-wrap:nowrap;
    
}

.navegacion ul{
    display: flex;
    list-style: none;
    margin-right: 500px;
}

 


.navegacion ul li a{
    color: #8f8f8f;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;

}
.navegacion ul li a:hover{
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;

}

.logo{
    height: 61px;
    width: 85px;
    margin-left: 50px ;
    
}

/*BARRA DE BUSQUEDA*/

.buscarheader{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    padding: 5px;
}
.formHeader{
    display: flex;
    align-items: center;
}
.buscarheader input{
    width: 80%;
    padding: 9px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition:all 0.6 ease;
    margin-right: 5px;
}
.boton{
    border-radius: 50px;
    background: silver;
    height: 50%;
    
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;

}
.boton:hover{
    border-radius: 50px;
    background: #eaeaea;
    height: 40px;
    width: 38px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;

}
.titulo{
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 55px;
}

/*footer*/
.newsletter{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


#pNl{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding-left: 150px;
    
}
.footer1{
  
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.formuNL2{
    width: 40%;
    display:flex;
    align-items: center;
    
    
}
.formuNL2 input{
    height: 45%;
    display: inline;
    padding: 5px;
    margin-left:5% ;
    border-radius: 20px;
}
.enviarNL2{
    width: 25%;
    font-size: 35;
    height: 45%;
    border-radius: 20px;
    border: black 1px;
    background: black;
    margin-left: 1%;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.enviarNL2:hover{
    width: 10%;
    font-size: 35;
    height: 45%;
    border-radius: 20px;
    border: white 1px;
    background:white;
    margin-left: 5%;
    color:black;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.listaF{
    display: flex;
    justify-content: space-around;
    
    width: 40%;
}

/* medias query del header*/
 @media(max-width:768px){
   
     
     .primerosLinks{
          align-items: center;
          display: flex;
          list-style: none;
          justify-content:center;
          margin-right: 10px;
    
        }
        .navegacion{
            display: flex;
            flex-direction: column;
            
        }
        .buscarheader{
            text-align: center;
        }
        .logo{
            margin-left: 0px;
        }
        .newsletter{
            display: flex;
            flex-direction: column;
             width: 100%;
             align-items: center;
        }
        .enviarNL2{
            width: 20%;
        }
}
@media(max-width:425px){

    .navHeader{
        padding: 12px;
        width: 100%;
        
    }
    .formHeader{
        margin-left: 50px;
    }
    .newsletter #h1nl2{
        font-size: 23px;
    }
}


/* medias queris del home*/

@media(max-width:768px){
}
       
@media(max-width: 425px){
    
    
    .productos{
        display: flex;
        flex-direction: column;
       align-content: center;
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
    }
    .home .container{
            
        background-color:white;
        width: 95%;
        padding: 10px;
        height: 30%
      }
      .vistas{
        display: flex;
        flex-direction: column;
    align-content: center;
        padding-top: 15px;
        width: 100%;
    }
     .elegidos{
       width: 100%;
   }
   .productos #imagen1{
    width: 90%;
    }
    .productos #imagen2{
        width: 90%;
        }
    .productos #imagen3{
            width: 90%;
            
    }
}