body{
    font-family: 'Abel', sans-serif;
    margin: 0%;
}
#promo{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #c4c4c4;
}

.primerosLinks li{
    display: inline-block;
    float: right;
    padding-top: 8px;
}

.primerosLinks li a{
    margin-right: 20px;
    margin-left: 5px; 
    
}

#logo{
    display: inline;
    margin-left: 8%;
    height: 70px;
    width: 85px;
}
.HMN li a{
    font-weight: bold;
    margin-right: 20px;
    margin-left: 55px; 
    font-size: 19px;
    
}

.HMN{
    margin-left: 20px;
    display: inline-block;
}
.HMN li{
    display: inline-block;
    padding-top: 8px;
}
.iconos{
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    float: right;
}
.titulo{
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
.formulario{
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
}
.formulario small{
    color:red;
    font-weight: bold;
}

label{
    letter-spacing: 2px;
    font-size: 18px;
}

input{
    height: 35px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: solid  #c4c4c4 1px;
}

.enviar{
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
    border: solid black ;
    width: 100%;
    background: black;
    color: white;
    margin-bottom: 55px;
}
  .grup{
      display:flex;
      flex-direction: column;
      position: relative;
  }

.eyeIcon.show:before{
    content: "\f070";
    font-family: "font Awesome 5 free";
    font-weight: 900;
    color: #777;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 13%;
    right: 0%;
    cursor: pointer;
   }
   .eyeIcon.hide:before{
    content: "\f06e";
    font-family: "font Awesome 5 free";
    font-weight: 900;
    color: #777;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 13%;
    right: 0%;
    cursor: pointer;
   }



