<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head')  %> 

    <link rel="stylesheet" href="estilos/login.css">

</head>
<body>

    <header>
       <%- include('../partials/header')  %> 
    </header>
<main>
    <h1>INICIAR SESIÓN</h1>
    <div class="cuadro">
        <div class="datoImp">
            <label class="form-label " for="email">Email</label>
            <input class="form-input" type="email" class="form-control form-control-border " autocorrect="off" autocapitalize="off" name="email">

            <label class="form-label " for="password">Contraseña</label>
            <input class="form-input"  type="password" name="password">
        
            <a href="#">¿OLVIDASTE TU CONTRASEÑA?</a>
            <button class="btm" type="submit">INICIAR SESIÓN</button>
        
        </div>
            
        
    </div>
</main>

<footer>
    <%- include('../partials/footer')  %> 
</footer>


</body>
</html>