<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs") %>
    
    <! -- FORMULARIO -->

    <section>
        <article><h1 class="titulo">CREAR CUENTA</h1></article>

        <article>
            <div>

                <form action="" class="formulario">
               
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" id="nombre" autocomplete="off">
                    
                    <label for="telefono">Teléfono</label><br>
                    <input type="tel" name="telefono" id="telefono" autocomplete="off">
                    
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email">

                    <label for="contraseña">Contraseña</label><br>
                    <input type="password" name="contraseña" id="contraseña" autocomplete="off">

                    <label for="confirmarContraseña">Confirmar Contraseña</label><br>
                    <input type="password" name="confirmarContraseña" id="confirmarContraseña" autocomplete="off">

                    <button class="enviar">Crear Cuenta</button>

                         
                </form>
            </div>

        </article>

    </section>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>