<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/7ce21fa4dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./estilos/home.css">
    <title>home</title>
</head>
<body>
    <header> 
      <div class="primera"> 
        <img src="./imagenes/logo.png" alt="">
        <ul>
            <li>
                <a href="">Crear cuenta</a>
            </li>
            <li>
                <a href="">Iniciar sesion</a>
             </li>
        </ul>
      </div>  
      <div class="segundo">  
          <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                 <a href="">Mujeres</a>
            </li>
            <li>
                <a href="">Niños</a>
            </li>
            <li>
                <a href="">Hombres</a>
            </li>

           </ul>
              <div class="tercero">
                <input type="text" name="buscar" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
                    <a href=""><i class="fas fa-shopping-cart"></i></a>
            </div>
         </div> 
    </header>
    
    <main>
       <div class="container">
        <ul class="slider">
            <li id="slider1">
                <img src="./imagenes/imagen 1.jpg" alt="">
            </li>
            <li id="slider2">
               <img src="./imagenes/imagen2.jpg" alt=""> 
            </li>
            <li id="slider3">
               <img src="./imagenes/imagen3.jpg" alt="">
            </li>
            <li id="slider4">
               <img src="./imagenes/imagen4.jpg" alt="">    
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="#slider1"></a>
            </li>
            <li>
                <a href="#slider2"></a>
            </li>
            <li>
                <a href="#slider3"></a>
            </li>
            <li>
                <a href="#slider4"></a>
            </li>
        </ul>
    </div> 
    <hr>
         <article class="productos">
            <div id="imagen1"> 
               <img src="./imagenes/mujer.jpg" alt="">
             <p><a href="">MUJER</a></p>
            </div>
            <div id="imagen 2">
            <img src="./imagenes/hombre.jpg" alt="">
              <p><a href="">HOMBRE</a></p>
            </div> 
            <div id="imagen3"> 
            <img src="./imagenes/NIÑO.jpg" alt="">
             <p><a href="">NIÑO</a></p>
            </div>
        </article>
        <hr>
    <article id="hombres">
            <h3>ELEGIDOS POR HOMBRES</h3>
             <hr> 
        <div class="vistas">  
             <div class="elegidos">     
                  <img src="./imagenes/Captura de pantalla (18).png" alt="">  
                   <h6> hombre</h6>
                    <a href="">Remera corta hombre</a>
                    <a href=""><i class="fas fa-eye"></i></a>
                    <h5>$ 800</h5>
              </div>
              <div class="elegidos">     
                <img src="./imagenes/Captura de pantalla (19).png" alt="">  
                 <h6> hombre</h6>
                  <a href="">Bermuda hombre</a>
                  <a href=""><i class="fas fa-eye"></i></a>
                  <h5>$ 1500</h5>
            </div>
            <div class="elegidos">     
                <img src="./imagenes/Captura de pantalla (20).png" alt="">  
                 <h6> hombre</h6>
                  <a href="">Camisa hombre</a>
                  <a href=""><i class="fas fa-eye"></i></a>
                  <h5>$ 1800</h5>
            </div>
            <div class="elegidos">     
                <img src="./imagenes/Captura de pantalla (21).png" alt="">  
                 <h6> hombre</h6>
                  <a href="">Malla hombre</a>
                  <a href=""><i class="fas fa-eye"></i></a>
                  <h5>$ 800</h5>
            </div>
             
        </div> 
    </article>
        <article id="mujeres">
            
            <H3>ELEGIDOS POR MUJERES</H3>
            <hr>
                    <div class="vistas">
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (22).png" alt="">  
                             <h6> mujer</h6>
                              <a href="">Camisa tropic</a>
                              <a href=""><i class="fas fa-eye"></i></a>
                              <h5>$ 1800</h5>
                        </div>
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (23).png" alt="">  
                             <h6> mujer</h6>
                              <a href="">Top night out</a>
                              <a href=""><i class="fas fa-eye"></i></a>
                              <h5>$ 2300</h5>
                        </div>
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (24).png" alt="">  
                             <h6> hombre</h6>
                              <a href="">Malla enteriza</a>
                              <a href=""><i class="fas fa-eye"></i></a>
                              <h5>$2800</h5>
                        </div>
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (26).png" alt="">  
                             <h6> mujer</h6>
                              <a href="">Malla bikini</a>
                              <a href=""><i class="fas fa-eye"></i></a>
                              <h5>$ 3800</h5>
                        </div>
                    </div>
            

        </article>
    </main>
    <div class="newsletter">
         <div class="new1">
            <h1>SUSCRIBITE A NUESTRO NEWSLETTER</h1>
            <p>Recibí nuestras novedades y promociones</p>
         </div>
         <div class="new2">
                 <form action="" > 
                     <input type="text" placeholder="Nombre" >
                     <input type="email" placeholder="Email" >
                      <button type="submit">Enviar</button>
                 </form>
          </div>
    </div>
    <footer>
        <div class="imagen">
            <img src="./imagenes/logo.png" id="logo">
        </div>
        <div class="footer2">
        <ul class="listaFooter1">
            <li>Lorem</li>
            <li>Ipsum </li>
            <li>Dolor</li>
        </ul>
        
        <ul class="listaFooter1">
            <li>Lorem</li>
            <li>Ipsum </li>
            <li>Dolor</li>
        </ul>
        </div>
        <div class="footer3">
            <p style="text-align:center;">Copyright Phuma - 2020. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>