<!DOCTYPE html>
<html lang="es">
<%- include ("partials/head.ejs")%>

<body>
    <main class="home">
    <%- include("partials/header.ejs") %>
       <div class="container">
        <ul class="slider">
            <li id="slider1">
                <img src="./imagenes/imagen 1.jpg" alt="">
            </li>
            <li id="slider2">
               <img src="./imagenes/imagen2.jpg" alt=""> 
            </li>
            <li id="slider3">
               <img src="./imagenes/imagen3.jpg" alt="">
            </li>
            <li id="slider4">
               <img src="./imagenes/imagen4.jpg" alt="">    
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="#slider1"></a>
            </li>
            <li>
                <a href="#slider2"></a>
            </li>
            <li>
                <a href="#slider3"></a>
            </li>
            <li>
                <a href="#slider4"></a>
            </li>
        </ul>
     </div> 
     <hr>
         <article class="productos">
            <div id="imagen1"> 
               <img src="./imagenes/mujer.jpg" alt="">
             <p><a href="">MUJER</a></p>
            </div>
            <div id="imagen2">
              <img src="./imagenes/hombre.jpg" alt="">
              <p><a href="">HOMBRE</a></p>
            </div> 
            <div id="imagen3"> 
              <img src="./imagenes/NIÑO.jpg" alt="">
               <p><a href="">NIÑO</a></p>
            </div>
         </article>
        <hr>
    <article id="hombres">
            <h3>ELEGIDOS POR HOMBRES</h3>
             <hr> 
        <div class="vistas">  
             <div class="elegidos">     
                  <img src="./imagenes/Captura de pantalla (18).png" alt="">  
                   <h6> hombre</h6>
                    <a href="/products/detalleDeProducto">Remera corta hombre</a>
                    <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                    <h5>$ 800</h5>
              </div>
              <div class="elegidos">     
                <img src="./imagenes/Captura de pantalla (19).png" alt="">  
                 <h6> hombre</h6>
                  <a href="/products/detalleDeProducto">Bermuda hombre</a>
                  <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                  <h5>$ 1500</h5>
            </div>
            <div class="elegidos">     
                <img src="./imagenes/Captura de pantalla (20).png" alt="">  
                 <h6> hombre</h6>
                  <a href="/products/detalleDeProducto">Camisa hombre</a>
                  <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                  <h5>$ 1800</h5>
            </div>
            <div class="elegidos">     
                <img src="./imagenes/Captura de pantalla (21).png" alt="">  
                 <h6> hombre</h6>
                  <a href="/products/detalleDeProducto">Malla hombre</a>
                  <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                  <h5>$ 800</h5>
            </div>
             
        </div> 
    </article>
        <article id="mujeres">
            
            <H3>ELEGIDOS POR MUJERES</H3>
            <hr>
                    <div class="vistas">
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (22).png" alt="">  
                             <h6> mujer</h6>
                              <a href="/products/detalleDeProducto">Camisa tropic</a>
                              <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                              <h5>$ 1800</h5>
                        </div>
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (23).png" alt="">  
                             <h6> mujer</h6>
                              <a href="/products/detalleDeProducto">Top night out</a>
                              <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                              <h5>$ 2300</h5>
                        </div>
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (24).png" alt="">  
                             <h6> hombre</h6>
                              <a href="/products/detalleDeProducto">Malla enteriza</a>
                              <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                              <h5>$2800</h5>
                        </div>
                        <div class="elegidos">     
                            <img src="./imagenes/Captura de pantalla (26).png" alt="">  
                             <h6> mujer</h6>
                              <a href="/products/detalleDeProducto">Malla bikini</a>
                              <a href="/products/detalleDeProducto"><i class="fas fa-eye"></i></a>
                              <h5>$ 3800</h5>
                        </div>
                    </div>
            

        </article>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>