<! -- NEWSLETTER -->
  
        <div class="newsletter">
          <div class="footer1">  
               <h1 id="h1nl2">SUSCRIBITE A NUESTRO NEWSLETTER</h1>
               <p id="pNl2">Recibí nuestras novedades y promociones</p>
          </div>  
            <form action="" class="formuNL2"> 

                <input type="text" placeholder="Nombre" >
                <input type="email" placeholder="Email" >
                <button class="enviarNL2">Enviar</button>
            </form>

        </div>
    
        <! -- FOOTER -->
    <footer class="footer2">
            <img src="imagenes/logo.png" id="logo2">
        <div class="listaF">
            <ul class="listaFooter12">
                <li>Lorem</li>
                <li>Ipsum </li>
                <li>Dolor</li>
            </ul>
            <ul class="listaFooter12">
                <li>Lorem</li>
                <li>Ipsum </li>
                <li>Dolor</li>
            </ul>
        </div>
             <p style="text-align:center;">Copyright Phuma - 2020. Todos los derechos reservados.</p>
    </footer>
