<! -- NEWSLETTER -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>

<script src="/js/bootstrap.min.js"></script>  



        <div class="newsletter">
          <div class="footer1">  
               <h1 id="h1nl2">SUSCRIBITE A NUESTRO NEWSLETTER</h1>
               <p id="pNl2">Recibí nuestras novedades y promociones</p>
          </div>  
            <form action="" class="formuNL2"> 

                <input type="text" placeholder="Nombre" >
                <input type="email" placeholder="Email" >
                <button class="enviarNL2">Enviar</button>
            </form>

        </div>
    
        <! -- FOOTER -->
    <footer class="footer2">
            <img src="../imagenes/logo-phuma.png" id="logo2">
        <div class="listaF">
            <ul class="listaFooter12">
                <li>Lorem</li>
                <li>Ipsum </li>
                <li>Dolor</li>
            </ul>
            <ul class="listaFooter12">
                <li>Lorem</li>
                <li>Ipsum </li>
                <li>Dolor</li>
            </ul>
        </div>
             <p style="text-align:center;">Copyright Phuma - 2020. Todos los derechos reservados.</p>
    </footer>
