<header>
  
        <nav class="primerosLinks">
        <div class="userIngreso">
        <% if (typeof hayUsuario != 'undefined') { %>
            <li>
                <a href="/users/logout">logout</a>
            </li>
        </div>
        <h1>Bienveni@ <%= hayUsuario.name %></h1>
    
   <% } else { %> 
        <div class="userIngreso">   
            <li>
                <a href="/users/register">Registrate</a>
            </li>
            <li>
                <a href="/users/login">Iniciar Sesion</a>
            </li>
        </div>         
        </nav>
    <% } %>
    <hr style="color:#c4c4c4; margin-top: 5px;">

    <div class="navegacion">
       <a href="/"> <img class="logo" src="../imagenes/logo-phuma.png" alt="logo de Phuma"></a>
        <ul class="navHeader">
            <li>
                    <a href="#">Hombres</a>
            </li>
            <li>
                <a href="#">Mujeres</a>
            </li>
            <li>
                <a href="#">Niños</a>
            </li>
        </ul>

        <nav class="buscarheader">
            <form class="formHeader" action="#">
                <input type="text" placeholder="Buscar" required>
                <button type="submit" class="boton"> <i class="fas fa-search icon"></i></button>
                 <a href="/products/carrito" style="color: black;"> <i class="fas fa-shopping-cart"></i> </a>
             </form>

        </nav>
    </div>
    <hr>
     
</header>