<div class="partials-tile-de-producto">
    <figure><img src="/imagenesProductosDatabase/<%=producto.rutaALaImagen %>" alt="imagen tile <%= producto.nombre %>"></figure>
    <p><%= producto.nombre %></p>
    <p><b><%= producto.precio %></b></p>
    <button>COMPRAR ></button>
    <div class="botoncitos">
        <i class="far fa-heart"></i>
        <i class="far fa-eye"></i>
    </div>
</div>