<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head')  %> 

    <link rel="stylesheet" href="estilos/login.css">

</head>
<body>

    <header>
       <%- include('../partials/header')  %> 
    </header>
<main>
    <h1>INICIAR SESIÓN</h1>
    <div class="cuadro">
        <form class="datoImp" method="POST">
            <label class="form-label " for="email">Email</label>
            <input class="form-input" type="email" class="form-control form-control-border " autocorrect="off" autocapitalize="off" name="email">

            <label class="form-label " for="password">Contraseña</label>
            <input class="form-input"  type="password" name="password">
            <div class="form-input">
            <input type="checkbox" name="Recordame">
            <label type="checkbox" name="checkbox">Recordame</label>
            </div>
        
            <a href="#">¿OLVIDASTE TU CONTRASEÑA?</a>
            <button class="btm" type="submit">INICIAR SESIÓN</button>
        
        </form>
            
        
    </div>
</main>

<footer>
    <%- include('../partials/footer')  %> 
</footer>


</body>
</html>